*.config
*.creator*
*.files
*.includes

# Ignore build outputs
src/*.o
src/.*.o.d
src/*.a
lib/*.a

# Examples
examples/raw/bigfont
examples/raw/gears
examples/raw/t2i
examples/sdl/game
examples/sdl/gears
examples/sdl/helloworld
examples/sdl/menu
examples/sdl/model
examples/sdl/texture

# Downloaded files
examples/stb_image.h
examples/stb_image_write.h
